@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* Root Variable */
:root {
	--color-primary: #7380ec;
	--color-danger: #ff7782;
	--color-success: #41f1b6;
	--color-warning: #ffbb55;
	--color-white: #fff;
	--color-info-dark: #7d8da1;
	--color-info-light: #dce1eb;
	--color-dark: #363949;
	--color-light: rgba(132, 139, 200, 0.18);
	--color-primary-variant: #111e88;
	--color-dark-variant: #677483;
	/* --color-background: #f6f6f9; */
	--color-background: #f1f3f9;

	--card-border-radius: 2rem;
	--border-radius-1: 0.4rem;
	--border-radius-2: 0.8rem;
	--border-radius-3: 1.2rem;

	--card-padding: 1.8rem;
	--padding-1: 1.2rem;

	--box-shadow: 0 2rem 3rem var(--color-light)
}

/* DARK THEME VARIABLES */
.dark-theme-variables {
	--color-white: #2f373d;
	--color-dark: #edeffd;
	--color-dark-variant: #a3bdcc;
	--color-light: #2f373d;
	--box-shadow: 0 2rem 3rem var(--color-light)
}

/* =============== FONTS =============== */
a {
	color: var(--color-dark);
}

img {
	display: block;
	width: 100%;
}

h1 {
	font-weight: 800;
	font-size: 1.8rem;
	color: var(--color-dark);
}

h2 {
	font-size: 1.3rem;
	color: var(--color-dark);
}

h3 {
	font-size: 0.87rem;
	color: var(--color-dark);
}

h4 {
	font-size: 0.8rem;
	color: var(--color-dark);
}

h5 {
	font-size: 0.77rem;
	color: var(--color-dark);
}

small {
	font-size: 0.75rem;
	/* color: var(--color-dark); */
}

.profile-photo {
	width: 2.8rem;
	height: 2.8rem;
	border-radius: 50%;
	overflow: hidden;
}

.text-muted {
	color: var(--color-info-dark);
}

p {
	color: var(--color-dark-variant);
}

b {
	color: var(--color-dark);
}

.primary {
	color: var(--color-primary);
}

.danger {
	color: var(--color-danger);
}

.success {
	color: var(--color-success);
}

.warning {
	color: var(--color-warning);
}

/* =============== END FONTS =============== */
/* =============== MAIN STRUCTURE =============== */
* {
	margin: 0;
	padding: 0;
	outline: 0;
	appearance: none;
	border: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body {
	width: 100vw;
	/* ToDo: It may cause problems in the future */
	/* height: 100vh; */
	font-family: poppins, sans-serif;
	font-size: 0.88rem;
	background: var(--color-background);
	user-select: none;
	overflow-x: hidden;
	margin: 0;
	box-sizing: border-box;
	/* background-color: blue; */
}

.main-container {
	--topbar-height: 60px;
	--sidebar-width: 200px;
	color: white;
	background-color: #f1f3f9;
}

.sidebar {
	position: fixed;
	top: 0;
	width: var(--sidebar-width);
	height: 100vh;
	background-color: #f8c146;
}

.topbar {
	position: fixed;
	top: 0;
	width: calc(100% - var(--sidebar-width));
	height: var(--topbar-height);
	margin-left: var(--sidebar-width);
	background-color: var(--color-white);
}

.topbar .top {
	height: inherit;
}

.main-content {
	margin-top: var(--topbar-height);
	margin-left: var(--sidebar-width);
	padding-bottom: 1rem;
}

/* =============== LIST TABLE =============== */
.main-content .main-table {
	padding-top: 35px;
	margin: 30px;
}

.main-content .main-table h2 {
	margin-bottom: 0.8rem;
}

.table {
	background: var(--color-white);
	border-radius: var(--card-border-radius);
	padding: var(--card-padding);
	text-align: center;
	transition: all 0.3s ease;
}

.table:hover {
	box-shadow: var(--box-shadow);
}

.main-content .main-table table {
	width: 100%;
}

.main-content .main-table table:hover {
	box-shadow: none;
}

.main-content table thead tr {
	height: 2.8rem;
	color: var(--color-dark-variant);
}

.main-content table tbody td {
	height: 2.8rem;
	/* border-top: 1px solid var(--color-light); */
	color: var(--color-dark-variant);
}

.table thead th {
	border: none;
}

th {
	border-top: none;
}

/* .dropdown summary i {
	display: block;
	margin: auto;
  } */

/* .main-content table tbody tr:last-child td {
	border: none;
}  */

.main-content .recent.orders a {
	text-align: center;
	display: block;
	margin: 1rem auto;
	color: var(--color-primary);
}

/* =============== END LIST TABLE =============== */
/* =============== SIDEBAR =============== */
aside {
	height: 100vh;
}

aside .top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 1.4rem;
}

aside .logo {
	display: flex;
	gap: 0.8rem;
	align-items: center;
}

aside .logo h2 {
	margin-bottom: 0;
}

aside .logo img {
	width: 2rem;
	height: 2rem;
	margin-left: 0.52rem;
}

aside .close {
	display: none;
}

aside .sidebar {
	/* background: white; */
	display: flex;
	flex-direction: column;
	height: 86vh;
	position: relative;
	top: 3rem;
}

aside h3 {
	font-weight: 500;
}

aside .sidebar a {
	display: flex;
	color: var(--color-info-dark);
	margin-left: 2rem;
	gap: 1rem;
	align-items: center;
	position: relative;
	height: 3.7rem;
	transition: all 0.3s ease;
	text-decoration: none;
}

aside .sidebar a span {
	font-size: 1.6rem;
	transition: all 0.3s ease;
}

aside .sidebar a:last-child {
	position: absolute;
	bottom: 2rem;
	width: 100%;
}

aside .sidebar a.active {
	background: var(--color-light);
	color: var(--color-primary);
	margin-left: 0;
}

aside .sidebar a.active:before {
	content: '';
	width: 6px;
	height: 100%;
	background: var(--color-primary);
}

aside .sidebar a.active span {
	color: var(--color-primary);
	margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover {
	color: var(--color-primary);
}

aside .sidebar a:hover span {
	margin-left: 1rem;
}

/* =============== END SIDEBAR =============== */
/* =============== TOP RIGHT =============== */

.top {
	display: flex;
	justify-content: end;
	gap: 2rem;
	align-items: center;
}

.top button {
	display: none;
}

.theme-toggler {
	background: var(--color-light);
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 1.6rem;
	width: 4.2rem;
	cursor: pointer;
	border-radius: var(--border-radius-1);
}

.theme-toggler span {
	font-size: 1.2rem;
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.theme-toggler span.active {
	background: var(--color-primary);
	color: white;
	border-radius: var(--border-radius-1);
}

.top .profile {
	display: flex;
	margin-right: 10px;
	gap: 0.8rem;
	text-align: right;
	align-items: center;
}

.profile .info p {
	margin-bottom: 0;
}

/* =============== END TOP RIGHT =============== */

/* =============== START ACTIONS DROPDOWN =============== */

:root {
	--button-background: dodgerblue;
	--button-color: white;

	--dropdown-highlight: #ffbb55;
	--dropdown-width: 160px;
	--dropdown-background: white;
	--dropdown-color: black;
}

.fa-cog {
	color: #f8c146;
	margin-left: 15px;
	cursor: pointer;

}

.fa-cog:active {
	filter: brightness(75%);
}

/* Dropdown styles */
.dropdown {
	position: relative;
	padding: 0;
	margin-right: 1rem;
	border: none;
}

summary {
	width: fit-content;
	cursor: default;
	margin: auto;
}

.dropdown summary {
	list-style: none;
	list-style-type: none;
}

.dropdown>summary::-webkit-details-marker {
	display: none;
}

.dropdown summary:focus {
	outline: none;
}

.dropdown summary:focus a.button {
	border: 2px solid white;
}

.dropdown summary:focus {
	outline: none;
}

.dropdown ul {
	box-shadow: 0 0 50px 0 rgba(82, 63, 105, .15);
	position: absolute;
	margin: 10px 0 0 0;
	padding: 10px 0;
	width: var(--dropdown-width);
	left: 50%;
	margin-left: calc((var(--dropdown-width) / 2) * -1);
	box-sizing: border-box;
	z-index: 2;

	background: var(--dropdown-background);
	border-radius: 6px;
	list-style: none;
}

.dropdown ul li {
	padding: 0;
	margin: 0;
}

.dropdown ul li a:link,
.dropdown ul li a:visited {
	display: inline-block;
	padding: 10px 0.8rem;
	width: 100%;
	box-sizing: border-box;

	color: var(--dropdown-color);
	text-decoration: none;
}

.dropdown ul li a:hover {
	background-color: var(--dropdown-highlight);
	color: var(--dropdown-background);
}

/* Dropdown triangle */
/* .dropdown ul::before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	top: -10px;
	left: 50%;
	margin-left: -10px;
	border-style: solid;
	border-width: 0 10px 10px 10px;
	border-color: transparent transparent var(--dropdown-background) transparent;
} */


/* Close the dropdown with outside clicks */
.dropdown>summary::before {
	display: none;
}

.dropdown[open]>summary::before {
	content: ' ';
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 1;
}

/* =============== END ACTIONS DROPDOWN =============== */

/* =============== START SEARCH BOX =============== */

.btn:hover {
	color: #fff;
}

.input-text {
	background-color: transparent;
}

.input-text::placeholder {
	color: var(--color-dark-variant);
}

.input-text:focus {
	box-shadow: 0px 0px 0px;
	border-color: #f8c146;
	outline: 0px;
}

.form-control {
	border: 1px solid #f8c146;
	font-size: 0.8rem;
}

/* =============== END SEARCH BOX =============== */

/* =============== START FOOTER =============== */

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	margin-left: 200px;
	width: calc(100% - 200px);
	background-color: var(--color-white);
}

footer .container {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* =============== END FOOTER =============== */