{% extends "layout.html.twig" %}

{% block title %}Dashboard Homepage
{% endblock %}

{% block bodyContent %}
	<div class="container" style="margin-top:9rem">
		<div class="row justify-content-center">
			<div class="col-md-3">
				<div class="d-flex flex-column gap-3">
					<a href="{{ path('events_index') }}" class="btn btn-primary btn-index mb-3">Events</a>
					<a href="{{ path('user_ranks_index') }}" class="btn btn-primary btn-index mb-3">Ranks</a>
					<a href="{{ path('achievements_index') }}" class="btn btn-primary btn-index mb-3">Achievements</a>
					<a href="{{ path('badges_index') }}" class="btn btn-primary btn-index mb-3">Badges</a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="d-flex flex-column gap-3">
					<a href="#" class="btn btn-primary btn-index mb-3">Messages</a>
					<a href="#" class="btn btn-primary btn-index mb-3">Settings</a>
					<a href="#" class="btn btn-primary btn-index mb-3">Support</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
