{% extends "layout.html.twig" %}

{% block title %}Dashboard Noticias
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<style>
		body {
			background-image: url("../../images/policia.png");
		}
	</style>
{% endblock %}

{% block bodyContent %}

	<div class="hero-section">
		<div class="hero-text" id="hero-title">PARA PROTEGER Y SERVIR</div>
		<div class="hero-subtext">
			Policía Local de Valencia
			<br>
			Si nos necesitas, llámanos. Llegamos a cualquier comunidad
		</div>
	</div>

	<div class="container">
		{% for item in items %}
			<div class="w3-card w3-red w3-padding">
				<span onclick="this.parentElement.style.display='none'" class="w3-closebtn">&times;</span>
				<h4>{{ item.title }}</h4>
				<p>{{ item.subtitle }}</p>
			</div>
		{% endfor %}

		<div class="police-section">
			<h2>CENTRAL DE LA POLICÍA LOCAL DE VALENCIA</h2>
			<p>CID, 37<br>
				46018, VALÈNCIA</p>
			<p>Teléfono: 96.208.50.92<br>
				Fax: 96.353.99.60</p>
			<p>Sitio Web:
				<a href="http://www.valencia.es">http://www.valencia.es</a><br>
				Correo electrónico: infoplv@valencia.es</p>
			<p>Central de la Policía Local de Valencia</p>
			<p>El edificio, popularmente conocido como el Cuartel de Aviación, fue inaugurado en 1999 y en él se
				            encuentran ubicadas las oficinas de objetos perdidos, parque móvil, Academia de formación, gimnasio,
				            sala de conferencias, museo, gabinete médico, asistencia accidentes, galería de tiro, sala CISE (Centro
				            Integral de Seguridad y Emergencias Sala 092) y cafetería. Tiene una extensión de 9.000 metros
				            cuadrados, dedicando 5.000 metros cuadrados a las instalaciones propias policiales. La Central se
				            encuentra ubicada en la avenida del Cid, número 37.</p>
			<p>Semanalmente, se realizan visitas guiadas al edificio de colegios y asociaciones.<br>
				Si usted desea concertar una visita, póngase en contacto con nosotros.</p>
			<p>Teléfono: 963.840.092 Extensión 5480</p>
		</div>
	</div>

{% endblock %}
